@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --PRIMARY-PURPLE:  #E1C4F8; 
  --SECONDARY-PURPLE: #E5D2F4;
  --TERTIARY-PURPLE: #442060;
  --DARK-PURPLE: #4B0082;
  --PRIMARY-GRAY: #433E3F;
  --SECONDARY-GRAY: #B5B3B3;
  --TERTIARY-GRAY: #CCCBCB;
  --PRIMARY-RED: #B30000;
  }
}

@media (prefers-color-scheme) {
  :root {
  --PRIMARY-PURPLE:  #E1C4F8; 
  --SECONDARY-PURPLE: #E5D2F4;
  --TERTIARY-PURPLE: #442060;
  --DARK-PURPLE: #4B0082;
  --PRIMARY-GRAY: #433E3F;
  --SECONDARY-GRAY: #B5B3B3;
  --TERTIARY-GRAY: #CCCBCB;
  --PRIMARY-RED: #B30000;
  }
}

@layer base {
body {

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

  .bg-primaryPurple {
    background-color: var(--PRIMARY-PURPLE);
 
}

.bg-hoverPurple {
  background-color: var(--SECONDARY-PURPLE);

}

.bg-darkPurple {
  background-color: var(--DARK-PURPLE);

}

.bg-darkRed {
  background-color: var(--PRIMARY-RED);

}

.bg-gray{
  background-color: var(--TERTIARY-GRAY);

}

.text-gray {
  color: var(--PRIMARY-GRAY);

}

.text-darkPurple {
   color: var(--TERTIARY-PURPLE) ;

}

.text-Purple {
  color: var(--DARK-PURPLE) ;

}

.border-Gray {
  border-color: var(--SECONDARY-GRAY);

}

.border-Purple {
  border-color: var(--DARK-PURPLE);

}
}

@layer utilities {
  .data-\[state\=on\]\:bg-primaryPurple[data-state='on'] {
    background-color: var(--PRIMARY-PURPLE);
  }
  
}