@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*  color set */

:root {

  --primary-color: #4b0b80;
  --primary-color-light: #681dae;
  --primary-secondary-color-light: #8e46d1;


  /* text */
  --primary-text: #09090b;
  --secondary-text: #111827;
  --tertiary-text: #1e293b;


  /* grident background for component*/
  /* --gradient-background: linear-gradient(bg-gradient-to-r from-white via-gray-100 to-gray-200) */


  /* button */
  --button-primary: #3b0764;
  --button-secondary: #4c1d95;
  --button-tertiary: #5b21b6;
  --button-quaternary: #6d28d9;
  --button-danger: #dc2626;
  --button-success: #10b981;
  --button-warning: #f59e0b;
  --button-info: #3b82f6;
  --button-saved: #059669;
  --button-cancel: #ef4444;


}